In [4]:
import pandas as pd

df = pd.DataFrame([['a','b'] , ['c','d']] , 
                  index = ['row 1' , 'row 2'] , 
                  columns = ['col 1' , 'col 2'])
df

      col 1 col 2
row 1     a     b
row 2     c     d

In [17]:
# Encoding/decoding a Dataframe using 'split' formatted JSON
import pandas as pd

df.to_json(orient='split')
'{"columns":["col 1","col 2"],"index":["row 1","row 2"],"data":[["a","b"],["c","d"]]}'
pd.read_json(_, orient='split')

      col 1 col 2
row 1     a     b
row 2     c     d

In [19]:
# Encoding/decoding a Dataframe using 'index' formatted JSON
import pandas as pd

df.to_json(orient='index')
'{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'
pd.read_json(_, orient='index')

      col 1 col 2
row 1     a     b
row 2     c     d