In [16]:
# Syntactic sugar for df.groupby('A')

import pandas as pd

df = pd.DataFrame(
    {
        "Animal": ["Falcon", "Parrot", "Falcon", "Falcon", "Parrot"],
        "Speed": [100, 5, 200, 300, 15],
    }
)
df.groupby(pd.Grouper(key="Animal")).mean()

        Speed
Animal
Falcon    200
Parrot     10

In [18]:
# Specify a resample operation on the column ‘Publish date’

import pandas as pd
df = pd.DataFrame(
   {
       "Publish date": [
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-09"),
            pd.Timestamp("2000-01-16")
        ],
        "ID": [0, 1, 2, 3],
        "Price": [10, 20, 30, 40]
    }
)
# จัดกลุ่มตาม "Publish date"  แล้วหาค่าเฉลี่ย
df.groupby(pd.Grouper(key="Publish date" ,freq = "1W")).mean()

               ID  Price
Publish date
2000-01-02    0.5   15.0
2000-01-09    2.0   30.0
2000-01-16    3.0   40.0

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.Grouper.html